body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.header {
    display: flex;
    justify-content: center;
    padding: 6px;
    font-size: 14px;
    font-weight: 700;
}

.header-container {
display: flex;
justify-content: space-around;
align-items: center;
background-color: darkslategrey;
color: white;
}

.links {
    display: flex;
    font-size: 8px;
    gap: 15px;
}

a {
    text-decoration: none;
    color: white;

}

.upper-content {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 70px;
    color: white;
    background-color: darkslategrey;

}

.main-text {
    font-weight: 900;
    font-size: 24px;
}

.sub-text-upper {
    display: flex;
    padding-right: 18px;
    font-size: 10px;
    margin-bottom: 8px;
}

button {
    display: flex;
    padding: 6px 18px;
    border: none;
    border-radius: 6px;
    font-weight: 700;
    color: white;
    background-color: rgb(0, 140, 255)
}

.right-content {
    display: flex;
    justify-content: center;
    background-color: gray;
    padding: 50px 100px;
    font-size: 8px;
}

.middle-header {
    display: flex;
    justify-content: center;
    padding: 26px;
    font-weight: 700;
    font-size: 18px;
}

.middle-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.images-and-text {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.together-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    width: 100px;
}

.middle-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}

.sub-text-img {
    display: flex;
    text-align: center;
    font-size: 10px;
    padding: 0px 15px;
}

.together-container {
    display: flex;
    flex-direction: column;

}

.meme-image {
    border-radius: 6px;
    border: 2px solid rgb(0, 140, 255)
}

.quote-container {
    display: flex;
    min-width: 400px;
    flex-direction: column;
    align-items: center;
    padding: 60px;
    background-color: lightgray;
}

.quote {
    display: flex;
    width: 500px;
    color: rgb(70, 70, 70)
}

.quote-name {
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    font-weight: 600;
}

.all-quote-text {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.advert-container {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.advert {
    display: flex;
    min-width: 400px;
    gap:30px;
    width: 500px;
    justify-content: space-between;
    align-items: center;
    margin: 50px 100px;
    padding: 50px 100px;
    background-color:rgb(0, 140, 255);
}

.ad-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: white;
}

.advert-header-text {
    font-weight: bold;
}

.advert-sub-text {
    font-size: 10px;
}

.advert-button {
    display: flex;
    box-sizing: border-box;
    width: 89px;
    height: 36px;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
    color: white;
    font-size: 10px;
    background-color: darkslategrey;
}
